/*.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.button.navbar-item {
    font-size: 14px;
}*/

.rev-image img {
	width: auto;
	border-radius: 10px;
}

@media screen and (max-width: 927px) {
	#rev-tabs ul {
		flex-direction: column;
	border-radius: none;}
		li {
			width: 100%;
			}
		}

#rev-wt-section {
	background-color:#fbaf5c;
	padding:10px;
}

#rev-kenmerken-btn .button {
	background-color:#6cbcd8;
}
#rev-onderhoudkosten-btn .button {
	background-color:#03d1b2;
}
#rev-rapportage-btn .button {
	background-color:#ff8c00;
}
#rev-mjov-btn .button {
	background-color:#e57ae5;
}

.table-container td {
	width: 25%;
}